<mat-toolbar color="primary">
    <mat-toolbar-row>
        <!--Left menu-->
        <a _ngcontent-onp-c49="" mat-button="" routerlink="/" aria-label="Angular Material" class="mat-focus-indicator mat-button mat-button-base" tabindex="0" aria-disabled="false" href="/">
            <span class="mat-button-wrapper">
                <img _ngcontent-onp-c49="" src="../../assets/img/navbar/globe.svg" alt="TraveLog" class="travelog-logo"/>
                <span _ngcontent-onp-c49="" class="logo-title">Trave<strong>L</strong>oG</span>
            </span>
            <div matripple="" class="mat-ripple mat-button-ripple"></div>
            <div class="mat-button-focus-overlay"></div>
        </a>
        <a mat-button="" routerlink="/" class="mat-focus-indicator mat-button button-menu" tabindex="1" href="/">
            <span class="mat-button-wrapper">
                <span>All trips</span>
            </span>
            <div matripple="" class="mat-ripple mat-button-ripple"></div>
            <div class="mat-button-focus-overlay"></div>
        </a>
        <a mat-button="" routerlink="/" class="mat-focus-indicator mat-button button-menu" tabindex="2" href="/">
            <span class="mat-button-wrapper">
                <span>My trips</span>
            </span>
            <div matripple="" class="mat-ripple mat-button-ripple"></div>
            <div class="mat-button-focus-overlay"></div>
        </a>
        <a mat-button="" routerlink="/" class="mat-focus-indicator mat-button button-menu" tabindex="3" href="/">
            <span class="mat-button-wrapper">
                <span>See comments</span>
            </span>
            <div matripple="" class="mat-ripple mat-button-ripple"></div>
            <div class="mat-button-focus-overlay"></div>
        </a>
        <!--Spacer-->
        <div class="flex-spacer" _ngcontent-onp-c49=""></div>
        <!--Right menu-->
        <a mat-button="" routerlink="/" class="mat-focus-indicator mat-button button-menu" tabindex="4" href="/">
            <span class="mat-button-wrapper">
                <span>Sign In</span>
            </span>
            <div matripple="" class="mat-ripple mat-button-ripple"></div>
            <div class="mat-button-focus-overlay"></div>
        </a>
        <a mat-button="" routerlink="/" class="mat-focus-indicator mat-button button-menu" tabindex="5" href="/">
            <span class="mat-button-wrapper">
                <span>Log Out</span>
            </span>
            <div matripple="" class="mat-ripple mat-button-ripple"></div>
            <div class="mat-button-focus-overlay"></div>
        </a>
        <a mat-button="" routerlink="/" class="mat-focus-indicator mat-button button-menu" tabindex="6" href="/">
            <span class="mat-button-wrapper">
                <span>Register</span>
            </span>
            <div matripple="" class="mat-ripple mat-button-ripple"></div>
            <div class="mat-button-focus-overlay"></div>
        </a>
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>
        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon>
    </mat-toolbar-row>
</mat-toolbar>
