<mat-toolbar color="primary">
    <mat-toolbar-row>
        <!--Left menu-->
        <button mat-button routerLink="/homepage" routerLinkActive="active" class="mat-focus-indicator mat-button button-menu" tabindex="0">
            <span class="mat-button-wrapper">
                <img src="../../assets/img/navbar/globe.svg" alt="TraveLog" class="travelog-logo"/>
                <span class="logo-title"><strong>T</strong>rave<strong>L</strong>o<strong>G</strong></span>
            </span>
            <div matripple="" class="mat-ripple mat-button-ripple"></div>
            <div class="mat-button-focus-overlay"></div>
        </button>
        <button mat-button routerLink="/alltrips" routerLinkActive="active" class="mat-focus-indicator mat-button button-menu" tabindex="1">
            <span class="mat-button-wrapper">
                <span>All trips</span>
            </span>
            <div matripple="" class="mat-ripple mat-button-ripple"></div>
            <div class="mat-button-focus-overlay"></div>
        </button>
        <button mat-button routerLink="/mytrips" routerLinkActive="active" class="mat-focus-indicator mat-button button-menu" tabindex="2">
            <span class="mat-button-wrapper">
                <span>My trips</span>
            </span>
            <div matripple="" class="mat-ripple mat-button-ripple"></div>
            <div class="mat-button-focus-overlay"></div>
        </button>
        <a mat-button="" routerLink="/seecomments" class="mat-focus-indicator mat-button button-menu" tabindex="3">
            <span class="mat-button-wrapper">
                <span>See comments</span>
            </span>
            <div matripple="" class="mat-ripple mat-button-ripple"></div>
            <div class="mat-button-focus-overlay"></div>
        </a>
        <!--Spacer-->
        <div class="flex-spacer"></div>
        <!--Right menu-->
        <button mat-button [hidden]="userAuthenticated" routerLink="/login" routerLinkActive="active" class="mat-focus-indicator mat-button button-menu" tabindex="4">
            <span class="mat-button-wrapper">
                <span>Sign In</span>
            </span>
            <div matripple="" class="mat-ripple mat-button-ripple"></div>
            <div class="mat-button-focus-overlay"></div>
        </button>
        <button mat-button [hidden]="userAuthenticated" routerLink="/register" class="mat-focus-indicator mat-button button-menu" tabindex="6">
            <span class="mat-button-wrapper">
                <span>Register</span>
            </span>
            <div matripple="" class="mat-ripple mat-button-ripple"></div>
            <div class="mat-button-focus-overlay"></div>
        </button>

        <app-logout-button [hidden]="!userAuthenticated"></app-logout-button>

        <mat-icon class="example-icon" aria-hidden="false" aria-label="Example heart icon">favorite</mat-icon>

        <mat-icon [hidden]="userAuthenticated" class="example-icon" aria-hidden="false" aria-label="Example delete icon">delete</mat-icon>

        <button mat-icon-button [hidden]="!userAuthenticated" [matMenuTriggerFor]="menu">
            <mat-icon>account_circle</mat-icon>
          </button>
          <mat-menu #menu="matMenu">
            <button mat-menu-item (click)="deleteAccount()">
              <mat-icon>delete</mat-icon>
              <span>Delete account</span>
            </button>
            <button mat-menu-item 
                enabled
                routerLink="/register">
            <mat-icon>edit</mat-icon>
              <span>Edit account</span>
            </button>
          </mat-menu>
          
    </mat-toolbar-row>
</mat-toolbar>
