.example-icon {
  padding: 0 14px;
}

.flex-spacer {
  flex: 1 1 auto;
}

 button > span {
  font-size: 1.2em;
}

mat-toolbar{
  padding: 5px;
  height: 80px;
}

.logo-title {
  font-size: 1.5em;
  padding-left: 10px;
}

.button-menu {
  font-size: 1em;
  padding: 2px 10px;
} 

.travelog-logo {
  padding: 0px 00px;
}

[hidden] {
  display: none !important;
}