<div class="outerContainer">
    <!-- Diplay the list of trips -->
    <section>
        <div>
            <mat-icon *ngIf="!this.isTripSelected" (click)="createNewTrip()">add_box</mat-icon>
            <mat-icon *ngIf="this.isTripSelected" (click)="deleteSelectedTrip()">delete</mat-icon>
            <mat-icon *ngIf="this.isTripSelected" (click)="editSelectedTrip()">edit</mat-icon>
            <app-trip-table 
                [userId]="myId">
            </app-trip-table>
        </div>
    </section>
    <!-- Display the list of places -->
    <section>
        <div class="listPlacesContainer">
            <mat-icon 
                *ngIf="this.isTripSelected && !this.isPlaceSelected" 
                (click)="createNewPlace()">
                    add_box
                </mat-icon>
            <mat-icon 
                *ngIf="this.isTripSelected && this.isPlaceSelected"
                (click)="deleteSelectedPlace()">
                    delete
            </mat-icon>
            <mat-icon 
                *ngIf="this.isTripSelected && this.isPlaceSelected" 
                (click)="editSelectedPlace()">
                    edit
            </mat-icon>
            <mat-icon class="grey-icon"> insert_comment</mat-icon>
            <app-place-table 
                (onPlaceClicked)="selectPlace($event)">
            </app-place-table>
        </div>
    </section>
    <section class="descriptionContainer">
        <div *ngIf="selectedTrip">{{selectedTrip.title}}</div>
        <div *ngIf="selectedTrip">{{selectedTrip.description}}</div>
        <ng-container *ngIf="isPlaceSelected">
            <img [src]="selectedPlace?.pictureUrl">
            <div>{{selectedPlace.name}}</div>
            <div>{{selectedPlace.description}}</div>
        </ng-container>
    </section>
    <section>
        <app-map [mapMarkers]="markers"></app-map>
    </section>
</div>

