<div class="outerContainer">
    <!-- Diplay the list of trips -->
    <section>
        <div>
            <mat-icon *ngIf="!this.isTripSelected" (click)="createNewTrip()">add_box</mat-icon>
            <mat-icon *ngIf="this.isTripSelected" (click)="deleteSelectedTrip()">delete</mat-icon>
            <mat-icon *ngIf="this.isTripSelected" (click)="editSelectedTrip()">edit</mat-icon>
            <app-trip-table 
                [userId]="myId">
            </app-trip-table>
        </div>
    </section>
    <!-- Display the list of places -->
    <section>
        <div class="listPlacesContainer">
            <mat-icon 
                *ngIf="this.isTripSelected && !this.isPlaceSelected" 
                (click)="createNewPlace()">
                    add_box
                </mat-icon>
            <mat-icon 
                *ngIf="this.isTripSelected && this.isPlaceSelected"
                (click)="deleteSelectedPlace()">
                    delete
            </mat-icon>
            <mat-icon 
                *ngIf="this.isTripSelected && this.isPlaceSelected" 
                (click)="editSelectedPlace()">
                    edit
            </mat-icon>
            <mat-icon class="grey-icon"> insert_comment</mat-icon>
            <app-place-table ></app-place-table>
        </div>
    </section>
    <section class="descriptionContainer">
        <h2 *ngIf="selectedTrip">{{selectedTrip.title}}</h2>
        <h3 *ngIf="selectedTrip">{{selectedTrip.description}}</h3>
        <ng-container *ngIf="isPlaceSelected">
            <img [src]="selectedPlace?.pictureUrl">
            <div>{{selectedPlace.name}}</div>
            <div>{{selectedPlace.description}}</div>
        </ng-container>
        <!--Insert here comments-component list / no API implemented so far-->
    </section>
    <section>
        <app-map [mapMarkers]="markers"></app-map>
    </section>
</div>

