<div class="outerContainer">
    <!-- Diplay the list of trips -->
    <section colspan="1">
        <section>
            <mat-icon *ngIf="!this.isTripSelected" (click)="createNewTrip()">add_box</mat-icon>
            <mat-icon *ngIf="this.isTripSelected" (click)="deleteSelectedTrip()">delete</mat-icon>
            <mat-icon *ngIf="this.isTripSelected" (click)="updateSelectedTrip()">edit</mat-icon>
            <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">
                
                <!-- Title Column -->
                <ng-container matColumnDef="title">
                    <th mat-header-cell *matHeaderCellDef>Trip title</th>
                    <td mat-cell *matCellDef="let trip"> {{trip.title}} </td>
                </ng-container>
                
                <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
                <tr mat-row (click)="selectTrip(row)" (dblclick)="edit(row)" [ngClass]="{'selected': selectedTrip.title == row.title}" *matRowDef="let row; columns: displayedColumns;"></tr>
            </table>   
            <p>{{selectedTrip.id}}</p>    
        </section>
    </section>
    <!-- Display a summary of the display trip -->
    <section  *ngIf="selectedTrip.id" colspan="1">
        <div  *ngIf="selectedTrip.id" class="listPlacesContainer">
            <div>{{selectedTrip.description}}</div>
            <img [src]="selectedPlace.pictureUrl">
            <div>{{selectedPlace.name}}</div>
            <div>{{selectedPlace.description}}</div>
            <div>
                <mat-icon (click)="openPlaceDialog()">add_box</mat-icon>
                <mat-icon aria-hidden="false" aria-label="Example heart icon">delete</mat-icon>
                <mat-icon aria-hidden="false" aria-label="Example heart icon">edit</mat-icon>
                <table mat-table [dataSource]="dataSoucePlaceTable" class="mat-elevation-z8">
                    <!-- Name Column -->
                    <ng-container matColumnDef="name">
                        <th mat-header-cell *matHeaderCellDef> Place name </th>
                        <td mat-cell *matCellDef="let place"> {{place.name}} </td>
                    </ng-container>
                    
                    <tr mat-header-row *matHeaderRowDef="placeDisplayedColumns"></tr>
                    <tr mat-row (click)="selectPlace(row)" [ngClass]="{'selected': selectedPlace.name == row.name}" *matRowDef="let row; columns: placeDisplayedColumns;"></tr>
                </table>
            </div>
        </div>
    </section>
    <section>
        <app-map></app-map>
    </section>
</div>

