.full-width-table {
  width: 100%;
}

.table-container{
  max-height: 63vh;
  overflow: auto;
}

.spinner-container {
  height: 360px;
  width: 390px;
  position: fixed;
}

.spinner-container mat-spinner {
  margin: 60px auto 0 auto;
}

mat-icon {
  font-size: 1.5rem;
  color: #673AB7;
  margin: 2px 5px;
  height: auto;
  width: auto;
}

.hidden {
  display: none !important;
}

tr.selected {
  background-color:#efefef;
  
}

.row-description {
  padding: 5px;
  width: 100%;
}

.expanded-row td {
  border-bottom-width: 0;
}

.row-detail {
  overflow: hidden;
}

tr.expanded-row-detail {
  height: 0;
}

.mat-column-expandedDetail {
  background-color:#efefef;
}

.selected > .mat-column-title.mat-cell {
  font-weight: bold;
}
