mat-grid-list {
    min-height: 90vh;
}

app-trip-table {
    overflow-x: auto;
    width: 100%;
}

mat-icon {
    font-size: 1.5rem;
    color: #673AB7;
    margin: 2px 5px;
    height: auto;
    width: auto;
}

.outerContainer {  
    height: 84vh;
    display: grid;
    grid-template-columns: 1.2fr 1.2fr 2fr;
    grid-template-rows: 0.05fr 1fr;
    grid-gap: 15px;
    padding: 10px;
}

.grey-icon {
    color: grey;
}

.row1 {
    grid-row: 1;
    grid-column: 1 / 4;
}

.hidden {
    display: none !important;
}