/* You can add global styles to this file, and also import other style files */

$debug_mode: false;

@import '@angular/material/prebuilt-themes/deeppurple-amber.css';

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }
* {
    @if $debug_mode {
        outline: #4CAF50 solid 1px;
    }
}

#sign {
    position: fixed;
    bottom: 0px;
    left: 0px;
    height: 50px;
}
